<!DOCTYPE html>


<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Galerie responsive flexbox</title>

	{% block style_leaflet_ext %}{% endblock %}

        {% block style_leaflet_int %} 
	{% load static %}
	<link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
	{% endblock %}

</head>


<body>
	{% block titre_page %}{% endblock %}

<!-- ---  navigation --- -->
<ul class = "navi">
	<li class = "navi"><a href="{% url 'gallery-previous' %}">Photos précédentes           </a></li>
	<li class = "navi"><a href="{% url 'gallery_next' %}">Photos suivantes           </a></li>
	<li class = "navi"><a href="{% url 'gallery-year' %}">Choisir une année          </a></li>
	<li class = "navi"><a href="{% url 'gallery-admin' %}">Administration Galerie</a></li>
</ul>


	{% block content %}{% endblock %}


</body>
</html>
