<!DOCTYPE html>


<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Galerie responsive flexbox</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
	{% load static %}
	<link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
	<link rel="stylesheet" href="{% static 'listings/style_leaflet.css' %}" />
</head>


	<body>

		{% block content %}{% endblock %}

	</body>
<html/>
